<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Laterer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Laterer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LatererCoreDataProxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - Laterer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test Notification - Laterer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>682AAB0D1ADBD546003C3F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C441B21ADD10AC00416BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C441BC1ADD10AC00416BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E34C011AA4321A00E01049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68E34C1A1AA4321A00E01049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
